<template name='{{variableName}}New'>
 {{variableName}} New
 <form class="{{variableName}}-new">
   Title: <input type="text" name="title" class="form-control">
   <br/>
   Description: <input type="description" name="description" class="form-control">
   <br/>
   <input type="submit" class="btn btn-lg btn-success">
 </form>
</template>
