<template name='{{variableName}}Show'>
  {{variableName}} Show
  <h1> {/{/title}/}/</h1>
  <p> {/{/description}/}/</p>
  <a href="{/{/pathFor '{{variableName}}Edit'}/}/">Edit {{variableName}}</a>
</template>
