Template.{{variableName}}Index.helpers({

});

Template.{{variableName}}Index.events({

});

Template.{{variableName}}Index.created = function(){

};

Template.{{variableName}}Index.rendered = function(){

};
