Template.{{variableName}}Show.helpers({

});

Template.{{variableName}}Show.events({


});

Template.{{variableName}}Show.created = function(){

};

Template.{{variableName}}Show.rendered = function(){

};
