<template name='{{variableName}}Index'>
  <h2>{{variableName}} Index</h2>

  <ul>
    {{#each this}}
      <li>
        <a href="{{pathFor '{{variableName}}Show' this._id}}">{{title}} - {{description}}</a>
      </li>
    {{/each}}
  </ul>
  <a href="{{pathFor '{{variableName}}New'}}" class="btn btn-info"> Create New {{variableName}}</a>
</template>
