Meteor.publish('{{variableName}}/get', function(){
  return {{serverName}}.find({deleted: {$ne: true}});
});

Meteor.publish('{{variableName}}/getById', function({{variableName}}Id){
  return {{serverName}}.find({_id: {{variableName}}Id, deleted: {$ne: true}});
});
