Router.route('/{{routeName}}', {
  name: '{{routeName}}Index',
  waitOn: function() {
    return [
      Meteor.subscribe('{{pubsubName}}/get')
    ];
  }
});

Router.route('/{{routeName}}/:_id', {
  name: '{{routeName}}Show',
  waitOn: function() {
    return [
      Meteor.subscribe('{{pubsubName}}/getById', this.params._id)
    ];
  }
});

Router.route('/{{routeName}}/:_id/edit', {
  name: '{{routeName}}Edit',
  waitOn: function() {
    return [
      Meteor.subscribe('{{pubsubName}}/getById', this.params._id)
    ];
  }
});

Router.route('/{{variableName}}/new', {
  name: 'analysesNew',
  waitOn: function(){
    return [
      Meteor.subscribe('policiesOne', this.params.policyId),
    ];
  },
  data: function(){
    return Policies.findOne({_id: this.params.policyId});
  }
});
